.cart {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;

    width: 350px;
    height: 100vh;

    padding: 2rem;

    background-color: color(primary, white);

    color: color(text, dark-primary);

    transform: translateX(100%);

    transition: .4s transform $easing-snappy;

    overflow: hidden;

    &__close {
        position: absolute;
        z-index: 1;
        top: 1.5rem;
        right: 1.5rem;
    }

    &__title {
        margin-top: 2rem;
    }

    &__empty {
        margin-top: 2rem;
        &__link {
            display: inline-block;
            margin-top: 2rem;
        }
    }

}

body.cart-opened .cart {
    transform: translateX(0);
}
