.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 2rem 0;

    &__shopping-cart {
        display: flex;
        align-items: center;


        &__cart-icon {
            width: 22px;
            height: 29px;

            margin-left: 1rem;

            fill: color(primary, white);
        }
    }
}
