.thank-you {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;

    cursor: pointer;

    &__content {
        position: absolute;
        pointer-events: none;
        user-select: none;
    }

    &__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    &__description {
        text-align: center;
    }

    &__continue {
        pointer-events: all;
    }
}
