@function color($color-name, $color-variant) {
  @return map-get(map-get($colors, $color-name), $color-variant);
}

$colors: (
  primary: (
    base: #060606,
    white: #ffffff,
    highlight: #E0BC66,
  ),
  secondary: (
    base: #0969A2,
  ),
  text: (
      dark-primary: #333,
      white-secondary: #999,
  )
);
