@font-face {
    font-family: 'Apercu';
    src: url('../../src/fonts/apercu.woff2') format('woff2'),
        url('../../src/fonts/apercu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../../src/fonts/apercu-bold.woff2') format('woff2'),
        url('../../src/fonts/apercu-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: color(primary, base);

    font-family: 'Apercu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: color(primary, white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}