.thank-you {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;

    &__content {
        position: absolute;
        pointer-events: none;
    }

    &__title {
        margin-bottom: 1rem;

        text-align: center;
    }

    &__description {
        text-align: center;
    }
}
